/*To set box-sizing */
html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

.container{
    background: url("../images/a.jpg") center;
    background-size:cover;
    display:flex;
    justify-content:space-around;
    align-items:center;
    text-align: center;
    min-height: 100vh;
    font-family: 'Shadows Into Light', cursive;
}

.todo{
    background: white;
    width: 500px;
    border: 5px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 50px;
}

.todo__header{
    margin: 0px;
    padding: 5px;
    font-size: 80px;
    font-weight: bold;
    border-bottom: 5px solid rgba(0,0,0,0.1);
}

.tasklist{
    width: 100%;
    text-align: center;
    list-style: none;
    margin: 0px;
    padding: 0px;
    font-size: 1.5em;
    word-break: break-word;
}

.tasklist__task{
    display: flex;
    border-bottom: 1px solid rgba(14, 6, 6, 0.2);
}

.tasklist__text{
    flex: 1;
}

.tasklist__text:focus{
    outline: 0px;
    border: 2px solid rgba(0,0,0,0.5);
}

.tasklist__text--checked{
    transition: all 0.1s linear;
    color: gray;
    text-decoration: line-through;
}

.tasklist__item{
    color:  rgba(0,0,0,0.2);
    visibility: hidden;
}

.tasklist__task:hover .tasklist__item{
    visibility:visible;
    cursor: pointer;
}

.todo__taketask{
    width: 100%;
    padding:10px;
    border:5px solid rgba(0,0,0,0.1);
    outline: 0;
}

.filter{
    display: flex;
}

.filter__item{
    display: inline-block;
    width: 33.33%;
    padding: 10px;
    border-right:1px solid rgba(0, 0, 0, 0.1);
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}


.filter__item--dark{
    border: 3px solid rgba(0,0,0,0.5);
    transition: border ease-in-out 0.05s;
}

.clearcompleted{
    display: block;
    padding: 10px;
    border-top: 5px solid rgba(0,0,0,0.1);
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}

.clearcompleted--hide{
    display: none;
}

.footer{
    display: flex;
}

.footer__remaining{
    padding: 10px;
    flex: 1;
    border-right:2px solid rgba(0, 0, 0, 0.1);
    border-top:5px solid rgba(0, 0, 0, 0.1);
    font-weight: bold;
}

.footer__mark{
    padding: 10px;
    flex: 1;
    border-right:1px solid rgba(0, 0, 0, 0.1);
    border-top:5px solid rgba(0, 0, 0, 0.1);
    cursor: pointer;
    font-weight: bold;
    font-size: 20px;
}
